---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:test/test%20is:issue%20is:open%20label:%22SEV1%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token mytoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1516556504'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count": 1, "incomplete_results": false, "items": [{"url": "https://api.github.com/repos/test/test/issues/1", "repository_url": "https://api.github.com/repos/test/test", "labels_url": "https://api.github.com/repos/test/test/issues/1/labels{/name}", "comments_url": "https://api.github.com/repos/test/test/issues/1/comments", "events_url": "https://api.github.com/repos/test/test/issues/1/events", "html_url": "https://github.com/test/test/issues/1", "id": 1, "number": 1, "title": "title-sev1-1", "user": {"login": "test", "id": 1, "avatar_url": "https://avatars3.githubusercontent.com/u/126666?v=4", "gravatar_id": "", "url": "https://api.github.com/users/test", "html_url": "https://github.com/test", "followers_url": "https://api.github.com/users/test/followers", "following_url": "https://api.github.com/users/test/following{/other_user}", "gists_url": "https://api.github.com/users/test/gists{/gist_id}", "starred_url": "https://api.github.com/users/test/starred{/owner}{/repo}", "subscriptions_url": "https://api.github.com/users/test/subscriptions", "organizations_url": "https://api.github.com/users/test/orgs", "repos_url": "https://api.github.com/users/test/repos", "events_url": "https://api.github.com/users/test/events{/privacy}", "received_events_url": "https://api.github.com/users/test/received_events", "type": "User", "site_admin": false }, "labels": [{"id": 1, "url": "https://api.github.com/repos/test/test/labels/SEV1", "name": "SEV1", "color": "ededed", "default": false } ], "state": "open", "locked": false, "assignee": null, "assignees": [], "milestone": null, "comments": 0, "created_at": "2018-01-01T00:00:01Z", "updated_at": "2018-01-01T00:00:01Z", "closed_at": null, "author_association": "OWNER", "body": "", "score": 1.0 } ] }'
  recorded_at: Sun, 21 Jan 2018 17:40:52 GMT
recorded_with: VCR 4.0.0
